<% include partials/head %>

  <body background = "red">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1>Bienvenido al Inventario de SICONI</h1>
        <p class="lead">Ingrese a su perfil รณ de lo contrario registrese</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Ingresar</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registrar</a>

      </div>      
    </div>
  </body>
</html>